.footer_main {
    justify-content: space-between;
    color: #333;
}
@media (max-width: 767.98px) {
    .footer_main {
        display: block;
        align-items: start;
        text-align: start;
    }
}

/* Для очень узких экранов */
@media (max-width: 480px) {
    .footer_main {
        display: block;
        align-items: start;
        text-align: start;
    }
}
