.Layout_menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('/public/Test_LumeLaht_Image.jpg') center/cover no-repeat;

    min-height: 100vh;
    color: white;
    overflow: hidden;
    text-align: center;
}
