.room_card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}
.room_card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15) !important;
}
.collapse_filter_rooms .collapse {
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    max-height: 0;
    opacity: 0;
}

.collapse_filter_rooms .collapse.show {
    max-height: 999px; /* достаточно большое значение, которое точно вмещает контент */
    opacity: 1;
}
