.welcome_main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background-color: color-mix(in srgb, #2e2b28, transparent 95%);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 0 20px 40px color-mix(in srgb, white, transparent 85%);
    border: 1px solid color-mix(in srgb, white, transparent 80%);
}
