<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[BookingService*]*</Include>
          <Exclude>[*Tests]*</Exclude>
          <ExcludeByFile>**/Migrations/*.cs,**/Program.cs,**/Middlewares/*.cs,**/Extensions/*.cs,**/HttpClients/*.cs,**/obj/**/*.cs,**/AppDbContextModelSnapshot.cs,**/BookingDbContextModelSnapshot.cs,**/UserDbContextModelSnapshot.cs,**/RoomDbContextModelSnapshot.cs</ExcludeByFile>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
