.home_welcome {
  background-color: color-mix(in srgb, #2e2b28, transparent 95%);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 2em;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f9f9f9;
}
